@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ff0000;
}

#column-2 {
  background: #ff4141;
}

#column-3 {
  background: #ff8a8a;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: grey ;
  }

  #column-1 {
    background-color: lightgaey;
    width: 50%;
  }

  #column-2 {
    background-color: gray;
    width: 50%;
  }

  #column-3 {
    background-color: yellow;
    width: 100%;
  }

  footer {
    background-color: gray;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: pink;
  }

  #column-1 {
    background-color: lightpink;
    width: 33.3%;
  }

  #column-2 {
    background-color: red;
    width: 33.3%;
  }

  #column-3 {
    background-color: rosybrown;
    width: 33.3%;
  }

  footer {
    background-color: green;
  }
   
}
